<section id="edit-blog-category" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_blog_category) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', blog_category: @blog_category %>
    </div>
  </div>
</section>