<section id="new-admin" class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:new_admin) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', admin: @admin %>
    </div>
  </div>
</section>
