<div class="modal-dialog">
  <div class="modal-content">
<div class="modal-header">
  <h4 class="modal-title text-left" id="myModalLabel">이 사이트는 데모 사이트입니다.</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <p>이 사이트는 팜플렛으로 쓸 수 있는 데모를 보여주는 데모 사이트 입니다.
    이와 같은 사이트 제작을 원하시면 제대로웹에서 다운로드 받아서 수정하여 쓰시면 됩니다.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t(:confirm) %></button>
</div>
  </div>
</div>