<div class="modal-dialog">
  <div class="modal-content">
<div class="modal-header">
  <h4 class="modal-title text-left" id="myModalLabel">개인정보보호정책</h4>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <p>어쩌고 저쩌고 나불나불
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t(:confirm) %></button>
</div>
  </div>
</div>