<%
    a_class = 'nav-link'
    b_class = 'nav-link'
    c_class = 'nav-link'
    d_class = 'nav-link'

    if params[:controller] == 'admin/blogs'
      a_class += ' active'
    end

    if params[:controller] == 'admin/galleries'
      b_class += ' active'
    end

    if params[:controller] == 'admin/histories'
      c_class += ' active'
    end

    if params[:controller] == 'admin/notices'
      d_class += ' active'
    end


  %>
  <div class="col-12">
    <nav class="sub-nav">
      <ul class="nav nav-pills">
        <li class="nav-item"><%= link_to t(:blog, scope: [:activerecord, :models]), admin_blogs_path, { :class => a_class } %></li>
        <li class="nav-item"><%= link_to t(:gallery, scope: [:activerecord, :models]), admin_galleries_path, { :class => b_class } %></li>
        <li class="nav-item"><%= link_to t(:history, scope: [:activerecord, :models]), admin_histories_path, { :class => c_class } %></li>
        <li class="nav-item"><%= link_to t(:notice, scope: [:activerecord, :models]), admin_notices_path, { :class => d_class } %></li>
      </ul>
    </nav>
  </div>