<section id="edit-notice" class="col-12">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_notice) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', notice: @notice %>
    </div>
  </div>
</section>