<% breadcrumb :locations %>
<style>
gmp-map {
	display: block;
	width: 100%;
	height: 500px;  /* 명시적인 높이 설정 */
}
</style>

<section id="sl_location_index">
	<article>
		<script async
						src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvoDwJX6RR4TEqpvM7FXp_S7spO1Kco3w&libraries=maps,marker&v=beta">
</script>

<gmp-map center="37.2435,127.0707" zoom="15" map-id="YOUR_MAP_ID">
	<gmp-advanced-marker position="37.2435,127.0707" title="IPark 영통역 오피스텔"></gmp-advanced-marker>
</gmp-map>
</article>

<article class="media rounded-3 p-3 p-lg-4 p-xl-5 mt-3 mt-lg-4 mt-xl-5">
	<h3>IPark 영통역 오피스텔 주소</h3>
	<dl>
		<dt>모델하우스</dt>
		<dd>경기도 수원시 영통구 매영로 345번길 40</dd>
		<dt>현장</dt>
		<dd>경기도 수원시 영통구 반달로 95</dd>
	</dl>
</article>
<h3 class="media rounded-3 p-3 p-lg-4 p-xl-5 mt-2 mt-lg-3 mt-xl-4 lh-lg">방문에 어려움이 있을 때, 방문 했을 때 <br /> 6팀 <%= t(:name) %> 과장(<a href="tel://<%=t(:tel) %>"><%=t(:tel) %></a>) 연락주시면 친절 안내 해 드립니다.</h3>
</section>
